.EIFheader {
  width: 100%;
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
  background-color: #E8D9C2; 
  padding: 24px;
  text-decoration: none;
}

.EIFheader a {
  color: #4F2617;
  font-weight: bold;
  text-decoration: none;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #004224;
}

.EIFfooter { 
  width: 100%;
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
  background-color: #E8D9C2; 
  padding: 24px;

}

.EIFfooter a {
  color: #4F2617;
  font-size: 12px;
  
}

.EIFfooter p {
  color: #4F2617;
  font-size: 12px;
}

.EIFfootersilhouette img {
  width: 100%;
  height: 100%;
}

.EIFfootersilhouette {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: -12%;
  margin-top: 12%;
}