header {
  width: 100%;
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
  background-color: #004224; 
  padding: 24px;
}

header a {
  color: #E8D9C2;
  font-weight: bold;

}

body {
  margin: 0px;
  background-color: #E8D9C2;
}


nav {
  width: 100%;
  background-color: #004224;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

nav a {
  color: #E8D9C2; /* Navigation link color */
  text-decoration: none;
  font-family: "Times New Roman", serif; /* Times New Roman font */
  font-weight: bold;
  flex-grow: 1; /* Evenly space the navigation links */
  text-align: center; /* Center the text within each link */
  font-size: 120%;
}

a {
  text-decoration: none;
}

main {
  flex: 1;
}

.hero-image {
  position: relative;
  width: 100%;

  
}

.hero-image img {
  width: 100%;
}

.gradientbg {
  background: rgb(232,217,194);
background: linear-gradient(0deg, rgba(232,217,194,1) 0%, rgba(232,217,194,0) 77%);
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: pink;
  z-index: 100;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(232, 217, 194, 1), rgba(232, 217, 194, 0));
}

.bodycontent {
  width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  background-color: #E8D9C2;
  height: auto;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5%;
  outline: 2px solid #000;
  box-sizing: border-box;
  height: auto;
}

.child {
  flex: 1;
  outline: 2px solid #000;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: flex-start;
  padding: 2.5%;
  margin: 2.5%;
  height: auto;
}

.watchthetrailer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5%;
  outline: 2px solid #000;
  box-sizing: border-box;
  height: auto;
}

.watchthetrailercontent {
  flex: 1;
  outline: 2px solid #000;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: flex-start;
  padding: 2.5%;
  margin: 2.5%;
  height: auto;
}

.crater {
    flex: 1;
    outline: 2px solid #000;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5%;
    height: 100%;
  }
  
  .crater img {
    max-width: 100%; /* Make the image fill the width of the child without exceeding its original size */
    max-height: 100%; /* Make the image fill the height of the child without exceeding its original size */
    object-fit: contain; /* Maintain aspect ratio while fitting the child */
    overflow: hidden; /* Hide any content that overflows the child */
  }
  

h1 {
  margin: 1.25%;
}

h2 {
  margin: 1.25%;
}

p {
  text-align: left;
  margin: 1.25%;
}



.middle-box {
  width: 85%;
  height: 200px;
}

.bottom-box {
  height: 100px;
}

footer { 
  width: 100%;
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
  background-color: #004224; 
  padding: 24px;

}

footer a {
  color: #E8D9C2;
  font-size: 12px;
  
}

footer p {
  color: #E8D9C2;
  font-size: 12px;
}

a {
  text-decoration: none;
}

h1 {
    color: #4F2617;
    text-align: center;
    font-size: 48px;
}

.footersilhouette img {
  width: 100%;
  height: 100%;
}

.footersilhouette {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: -12%;
  margin-top: 12%;
}

.copy {
  display: flex;
	flex-direction: column;
	justify-content: right;
  width: 50%;
  border: 2px solid black;
}