body {
    background-color: #e8d9c2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid black;
    color: #4f2617;
}

h1 {
    width: 15%;
    text-align: center;
}

p {

}