header {
  width: 100%;
  background-color: #333; /* Choose your background color */
  color: #fff; /* Choose your text color */
  padding: 20px; /* Adjust the padding as needed */
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer { 
  background-color: #004224;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

nav a {
  color: #E8D9C2; /* Navigation link color */
  text-decoration: none;
  font-family: "Times New Roman", serif; /* Times New Roman font */
  font-weight: bold;
  flex-grow: 1; /* Evenly space the navigation links */
  text-align: center; /* Center the text within each link */
}

a {
  text-decoration: none;
}

main {
  flex: 1;
}


.hero-image {
  position: relative;
  width: 100%;
  height: 400px; /* Adjust the height as needed */
  background: url('path/to/your-hero-image.jpg') center/cover no-repeat; /* Replace with your hero image path */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(232, 217, 194, 1), rgba(232, 217, 194, 0));
}

.content-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  padding: 5%;
  background-color: #004224;
}

.box, .middle-box, .bottom-box {
  width: calc(50% - 5px);
  height: 100px;
  border: 2px solid black;
}

.middle-box {
  width: 85%;
  height: 200px;
}

.bottom-box {
  height: 100px;
}

/* Additional styles for positioning and spacing */