header {
  width: 100%;
  background-color: #004224; /* Choose your background color */

 

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0px;
}

body {
  margin: 0px;
  background-color: #E8D9C2;
}

  body {
    margin: 0px;
  }

nav {
  width: 100%;
  background-color: #004224;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1em;
}

nav a {
  color: #E8D9C2; /* Navigation link color */
  text-decoration: none;
  font-family: "Times New Roman", serif; /* Times New Roman font */
  font-weight: bold;
  flex-grow: 1; /* Evenly space the navigation links */
  text-align: center; /* Center the text within each link */
}

a {
  text-decoration: none;
}

main {
  flex: 1;
}

  footer a {
    color: #E8D9C2;
    font-size: 12px;
  }

  footer p {
    color: #E8D9C2;
    font-size: 12px;
  }
  
  a {
    text-decoration: none;
  }
.hero-image {
  position: relative;
  width: 100%;

  
}

.hero-image img {
  width: 100%;
}

.gradientbg {
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: pink;
  z-index: 100;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(232, 217, 194, 1), rgba(232, 217, 194, 0));
}

.bodycontent {
  width: 65%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  padding: 5%;
  background-color: #054D59;
}

.box, .middle-box, .bottom-box {
  width: calc(50% - 5px);
  height: 100px;
  border: 2px solid black;
}

.watchthetrailer {
  width: calc(50% - 5px);
  height: 100px;
  border: 2px solid black;
}

.middle-box {
  width: 85%;
  height: 200px;
}

.bottom-box {
  height: 100px;
}