* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E8D9C2;
  }
  

  .topnav {
    overflow: hidden;
    background-color: #004224;
    position: static;
    top: 0;
    width: 100%;
    text-align: center;
  }
  

  .topnav a {
    float: left;
    display: block;
    color: #E8D9C2;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
  }
  

  .topnav a:hover {
    background-color: #054D59;
  }
  

  .content {
    background-color: #E8D9C2;
    position: relative;
  }

  .content img{
    width: 100%;
    position: block;

  }

  .centered-content {
    background-color: #D4AB75;
    margin: 0%;
    margin-top: 0%;
    height:100%;

    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
  }
  
  

  .footer {
    overflow: hidden;
    background-color: #004224;
    padding: 10px;
    position: static;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  .footer a{
    float: left;
    display: block;
    color: #E8D9C2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }