header {
    background-color: #004224; /* Header color */
  }

  footer { 
    background-color: #004224;
  }

  nav a {
    color: #E8D9C2; /* Navigation link color */
    text-decoration: none;
    font-family: "Times New Roman", serif; /* Times New Roman font */
    font-weight: bold;
    flex-grow: 1; /* Evenly space the navigation links */
    text-align: center; /* Center the text within each link */
  }
  
  a {
    text-decoration: none;
  }

  #mediaplayer {
    width: 100%;
    height: calc(100vh - 100px); /* 100vh - height of header and footer */
    background-color: #E8D9C2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-box {
    margin: 20px 0;
}

.bold-italic {
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    color: #004224;
    text-align: center;
}

#playscreen {
    width: 100%;
    height: 50px;
}

#playscreencaption {
    display: flex;
    align-items: center;

    
}

.circle {
    width: 10px;
    height: 10px;
    background-color: #004224;
    border-radius: 50%;
}

#watchnowbutton {
    width: 100%;
    height: auto;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #054D59;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-aligned {
    text-align: center;
    font-size: 36px;
    color: #E8D9C2;
}

 img {
    height: 300px;
    width: auto;
}