.eif-logo-icon14 {
  width: 71.5px;
  height: 84px;
}
.eif-logo-icon14,
.home14 {
  position: relative;
  cursor: pointer;
}
.dougs10 {
  margin: 0;
}
.contact14 {
  position: relative;
}
.navbar-elements14,
.navbar7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar-elements14 {
  width: 1240px;
}
.navbar7 {
  align-self: stretch;
  background-color: var(--color-antiquewhite-100);
  overflow: hidden;
  padding: var(--padding-31xl) var(--padding-81xl);
  z-index: 0;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-californian-fb);
}
.body7 {
  margin: 0 !important;
  position: absolute;
  top: 184px;
  left: 0;
  width: 1440px;
  height: 1984px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.navbar-elements15 {
  width: 884.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.earth-images-foundation7 {
  position: relative;
  font-size: var(--font-size-base);
}
.eif-contact,
.footer7 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.footer7 {
  align-self: stretch;
  height: 400px;
  flex-shrink: 0;
  justify-content: flex-end;
  padding: var(--padding-20xl) var(--padding-81xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  background-image: url(./public/footer@3x.png);
  z-index: 2;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-californian-fb);
}
.eif-contact {
  position: relative;
  width: 100%;
  height: 2584px;
  justify-content: space-between;
  background-image: url(./public/films@3x.png);
}
