.eif-logo-icon {
  width: 71.5px;
  height: 84px;
}
.eif-logo-icon,
.films,
.home {
  position: relative;
}
.films {
  cursor: pointer;
}
.dougs {
  margin: 0;
}
.navbar,
.navbar-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar-elements {
  width: 1240px;
}
.navbar {
  align-self: stretch;
  background-color: var(--color-antiquewhite-100);
  overflow: hidden;
  padding: var(--padding-31xl) var(--padding-81xl);
  z-index: 0;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-californian-fb);
}
.ophdron1b-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 808.5px;
  object-fit: cover;
}
.documenting-our-planet {
  margin: 0;
  position: absolute;
  top: 112px;
  left: 72px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: flex-end;
  width: 1296px;
  height: 484px;
}
.hero {
  align-self: stretch;
  position: relative;
  height: 679px;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
  font-family: var(--font-californian-fb);
}
.img-4228-1-icon {
  position: relative;
  width: 443px;
  height: 332px;
  object-fit: cover;
}
.desc-text {
  border: 0;
  background-color: var(--color-gray);
  font-family: var(--font-sitka);
  font-size: var(--font-size-45xl);
  width: 748px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
}
.desc-header,
.desc-text,
.in-production {
  display: flex;
  justify-content: center;
}
.desc-header {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: 45px var(--padding-113xl);
  gap: 77px;
  background-image: url(./public/desc-header@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.in-production {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  align-items: flex-end;
  width: 1440px;
  height: 80px;
  flex-shrink: 0;
}
.banner-text,
.dougs-geo-journal-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner-text {
  border: 0;
  background-color: var(--color-gray);
  font-family: var(--font-sitka);
  font-size: var(--font-size-45xl);
  margin: 0 !important;
  position: absolute;
  top: 105px;
  left: 206px;
  width: 748px;
  overflow: hidden;
  z-index: 0;
}
.dougs-geo-journal-banner {
  width: 1194px;
  position: relative;
  background-image: url(./public/dougs-geo-journal-banner@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.dsc00386-1-icon {
  position: relative;
  width: 1160px;
  height: 500px;
  object-fit: cover;
  z-index: 0;
}
.banner-text1,
.planet-of-the-plates-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner-text1 {
  border: 0;
  background-color: var(--color-gray);
  font-family: var(--font-sitka);
  font-size: var(--font-size-45xl);
  margin: 0 !important;
  position: absolute;
  top: 185px;
  left: 206px;
  width: 748px;
  overflow: hidden;
  z-index: 1;
}
.planet-of-the-plates-banner {
  border: 30px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  width: 1190px;
  position: relative;
  gap: var(--gap-3xs);
  cursor: pointer;
}
.film-reel-desc {
  color: bisque;
}
.film-reel-title {
  color: bisque;
}
.previews {
  font-family: var(--font-sitka);
  font-size: var(--font-size-45xl);
  align-self: stretch;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.previews {
  height: 1335px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  padding: 68px 0;
  box-sizing: border-box;
  text-align: center;
  color: var(--color-saddlebrown);
}
.film-reel-desc,
.film-reel-title {
  border: 0;
  background-color: transparent;
  flex-direction: row;
  justify-content: center;
}
.film-reel-desc {
  justify-content: flex-start;
  padding: 0 73px;
}
.carousel {
  align-self: stretch;
  background-color: var(--color-darkslategray-200);
  height: 1128px;
  flex-direction: column;
  padding: 60px 0;
  box-sizing: border-box;
}
.body,
.carousel,
.navbar-elements1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.body {
  margin: 0 !important;
  position: absolute;
  top: 184px;
  left: 0;
  background-color: var(--color-antiquewhite-100);
  width: 1440px;
  height: 3512px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  z-index: 1;
}
.navbar-elements1 {
  width: 884.5px;
  flex-direction: row;
}
.earth-images-foundation {
  position: relative;
  font-size: var(--font-size-base);
}
.eif-home,
.footer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  align-self: stretch;
  height: 400px;
  flex-shrink: 0;
  justify-content: flex-end;
  padding: var(--padding-20xl) var(--padding-81xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  background-image: url(./public/footer@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 2;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-californian-fb);
}
.eif-home {
  position: relative;
  background-color: var(--color-darkslategray-200);
  width: 100%;
  height: 4128px;
  justify-content: space-between;
}


.geojournalthumbnail, .planetoftheplatesthumbnail {
  width: 85%;
  padding: 25px;
  margin-top: 15px;
  background-color: #4F2617;
  text-align: center;
}

.geojournalthumbnail p, .planetoftheplatesthumbnail p {
  
  color: #E8D9C2;
  margin: 10px 0;
}

.subtitle {
  font-size: 24px;
}

.subtitle.italicized {
  font-style: italic;
}