* {box-sizing: border-box;}

img {
  width:100%;
}

body {
  margin:0;
  background-color:antiquewhite;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.number {
  position: absolute;
  font-size: 60px;
  font-weight:bold;
}
.minute {
  position: absolute;
  top: 50%;
}

.hour {
  position: absolute;
  left: 50%;
}

main {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Ensure full viewport height */
  position: relative;
  border: 1px solid;
  width: 75%;
  height: 75%;
  /* this makes the contents hve an 80px margin on top and bottom, and an auto margin on left and right which centers the content. */
  margin: 20px auto;

}
.clock {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Ensure full viewport height */
  position: relative;
  width:100%;
  height:100%;
}

.minute img {
  width:15px;
  height:100%;
}
.hour img {
  width:100%;
  height:20px;
}
.one {
  position: absolute;
  left: 66%;
  bottom: 69%;
}
.two {
  position: absolute;
  left: 80%;
  bottom: 59%;
}
.three {
  position: absolute;
  left: 88%;
}
.four {
  position: absolute;
  left: 80%;
  top: 59%;
}
.five {
  position: absolute;
  left: 66%;
  top: 69%;
}
.six {
  position: absolute;
  top: 75%;
}
.seven {
  position: absolute;
  right: 66%;
  top: 69%;
}
.eight {
  position: absolute;
  right: 80%;
  top: 59%;
}
.nine {
  position: absolute;
  right: 88%;
}
.ten {
  position: absolute;
  right: 78%;
  bottom: 59%;
}
.eleven {
  position: absolute;
  right: 66%;
  bottom: 69%;
}
.twelve {
  position: absolute;
  bottom: 75%;
}
.hour {
  transform-origin:top;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  border: 1px black;
  width: 150px;
  animation-name: hourtick 60s infinite;
  animation-timing-function: linear;
  transform-origin:left;
}
.minute {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  border: 1px black;
  height: 200px;
  animation: minutetick 60s infinite;
  animation-timing-function: linear;
  transform-origin:top;
}

@keyframes hourtick {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

@keyframes minutetick {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}