@font-face {
    font-family: 'Eagle Lake', serif;
}

body {
    background-image: url(clouds.jpg) ;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

h1 {
    color: rgb(255,215,0);
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-size: 70px;
    color: #ffcd36ee;
    font-family: "Rothenburg";
    /*text-shadow: 0px 0px 0 rgb(250,188,2),
                 0px 1px 0 rgb(245,183,0),
                 0px 2px 0 rgb(240,178,0),
                 0px 3px 0 rgb(235,173,0),
                 0px 4px 0 rgb(230,168,0),
                 0px 5px 0 rgb(225,163,0),
                 0px 6px 0 rgb(220,158,0),
                 0px 7px 0 rgb(215,153,0),
                 0px 8px 0 rgb(210,148,0),
                 0px 9px 0 rgb(205,143,0),
                 0px 10px  0 rgb(200,138,0),
                 0px 11px 10px rgba(0,0,0,0.6),
                 0px 11px 1px rgba(0,0,0,0.5),
                 0px 0px 10px rgba(0,0,0,.2);*/
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ffec7f, 0 0 40px #ffec7f, 0 0 50px #ffec7f, 0 0 60px #ffec7f, 0 0 70px #ffec7f, 0 0 80px #ffec7f;
    }
  }